body {
  background-color: #f8f8f8;
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

label {
  display: block;
  padding: 20px;
  border-bottom: solid 1px #ddd;
  border-right: solid 1px #ddd;
  width: 320px;
}

label {
  color: #999;
}

#port-picker {
  color: #000;
}

#port-picker {
  max-width: 250px;
  margin-right: 10px;
}

#position-input {
  display: block;
   -webkit-appearance:none !important;
  width: 90%;
  margin: 20px auto;
  height: 6px;
  background: rgb(13, 168, 97);
}

#position-input::-webkit-slider-thumb {
  -webkit-appearance:none !important;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: rgb(67, 135, 253);
}

#image {
  position: absolute;
  right: 75px;
  top: 60px;
  background-image: url(../assets/icon_128.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 128px;
  height: 128px;
  -webkit-transition: all .2s linear;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
}

#console-title {
  position: absolute;
  display:inline-block;
  padding: 20px;
  top: 240px;
  left: 0;
  width: 600px;
  color: #999;
}

#btn_clearconsole {
  float: right;
}

#console-output {
  position: absolute;
  padding: 20px;
  bottom: 20px;
  left: 20px;
  height: 250px;
  width: 560px;
  border: solid 1px #ddd;
  overflow: auto;
  background-color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10px;
}

#tv {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 640px;
  height: 480px;
  border-left: solid 1px #ddd;
}

#tv video,
#tv img {
  display: none;
}

#tv.working video,
#tv.broken img {
  display: block;
}

.disconnected {
  color: #F96;
}

.connected {
  color: #6C6;
}
